<div class="card">
    <div class="card-header">
        <h1 class="text-center">@Title</h1>
    </div>
    <div class="card-body">
        @if (!string.IsNullOrEmpty(BackRoute))
        {
            <NavLink class="btn btn-primary float-left" href="@BackRoute">
                <span class="oi oi-arrow-left" aria-hidden="true"></span> Voltar
            </NavLink>
        }

        @if (ChildContent != null)
        {
            <div class="align-middle">
                @ChildContent
            </div>
        }

        @if (!string.IsNullOrEmpty(NewRoute))
        {
            <NavLink class="btn btn-primary float-right" href="@NewRoute">
                <span class="oi oi-plus" aria-hidden="true"></span> Novo
            </NavLink>
        }
    </div>
</div>
<br />

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string BackRoute { get; set; }

    [Parameter]
    public string NewRoute { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}