@typeparam TItem

<div class="card">
    <div class="card-body">
        @if (Items == null)
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status"></div>
            </div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>@TableHeader</tr>
                </thead>
                <tbody>
                    @foreach (var item in Items)
                    {
                        <tr>@RowTemplate(item)</tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code {
    [Parameter] public RenderFragment TableHeader { get; set; }
    [Parameter] public RenderFragment<TItem> RowTemplate { get; set; }
    [Parameter] public IReadOnlyList<TItem> Items { get; set; }
}