@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        <BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomRight"
                        InfoClass="alert alert-info"
                        SuccessClass="alert alert-success"
                        WarningClass="alert alert-warning"
                        ErrorClass="alert alert-danger" />

        @Body
    </div>
</div>

@code {
    [Inject] public IJSRuntime JSRuntime { get; set; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("select2JsInterop.startup");
    }
}