@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        <BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomRight"
                        InfoClass="alert alert-info"
                        SuccessClass="alert alert-success"
                        WarningClass="alert alert-warning"
                        ErrorClass="alert alert-danger" />

        @Body
    </div>
</div>