<div class="top-row pl-4 navbar navbar-dark">
    <div class="row">
        <div class="col-md-12">
            <a class="navbar-brand" href="">Clínica Médica</a>
            <button class="btn btn-danger float-md-right" @onclick="Logout">Deslogar</button>
        </div>
    </div>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="usuarios">
                <span class="oi oi-people" aria-hidden="true"></span> Usuários
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="calendario-de-consultas">
                <span class="oi oi-calendar" aria-hidden="true"></span> Calendário de Consultas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pacientes">
                <span class="oi oi-person" aria-hidden="true"></span> Pacientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="medicamentos">
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Medicamentos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="consultas">
                <span class="oi oi-list" aria-hidden="true"></span> Consultas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="realiza-exames">
                <span class="oi oi-check" aria-hidden="true"></span> Realiza Exames
            </NavLink>
        </li>
    </ul>
</div>

@using Blazored.LocalStorage;
@using Newtonsoft.Json;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.ViewModel;

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private PerfilViewModel _perfilViewModel;

    [CascadingParameter] private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    [Inject] private ILoginServico LoginServico { get; set; }
    [Inject] private ILocalStorageService LocalStorageService { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        var authState = await AuthenticationStateTask;

        if (authState == null)
            return;

        var claim = authState.User.Claims.FirstOrDefault(_ => _.Type == "Data");

        if (claim != null)
            _perfilViewModel = JsonConvert.DeserializeObject<PerfilViewModel>(claim.Value);
    }

    private async Task Logout()
    {
        LoginServico.Logout();
        await LocalStorageService.RemoveItemAsync(Servicos.LoginServico.ChaveLocalStorage);
        NavigationManager.NavigateTo("login", true);
    }
}
