@using Blazored.LocalStorage;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Modelo;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;

<div class="top-row pl-4 navbar navbar-dark">
    <div class="row">
        <div class="form-group col-md-12">
            <img src="https://gestaoclinicamedica.blob.core.windows.net/container-base/logo/logo.png" class="float-left" style="width: 50px;">
            <a class="btn btn-link float-right" href="/logout?returnUrl=/" target="_top">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Deslogar
            </a>
        </div>
        <div class="form-group col-md-12">
            @if (_usuarioLogado.EMedico)
            {
                <label>
                    Bem vindo,<a href="usuarios/@_usuarioLogado.Id" class="btn btn-link"> @_usuarioLogado.Nome</a>
                </label>
            }
            else
            {
                <label>Bem vindo, @_usuarioLogado.Nome</label>
            }
        </div>
        <div class="form-group col-md-12">
            <button class="navbar-toggler float-right" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView Roles="Administrador, Medico">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <span class="oi oi-pie-chart" aria-hidden="true"></span> Dashboard
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="consultas">
                        <span class="oi oi-list" aria-hidden="true"></span> Consultas
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="exames">
                        <span class="oi oi-document" aria-hidden="true"></span> Consultar Exames
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="usuarios">
                        <span class="oi oi-people" aria-hidden="true"></span> Usuários
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="medicamentos">
                        <span class="oi oi-medical-cross" aria-hidden="true"></span> Medicamentos
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador, Recepcionista">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="calendario-de-consultas">
                        <span class="oi oi-calendar" aria-hidden="true"></span> Calendário de Consultas
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="pacientes">
                        <span class="oi oi-person" aria-hidden="true"></span> Pacientes
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador, Laboratorio">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="realiza-exames">
                        <span class="oi oi-check" aria-hidden="true"></span> Realiza Exames
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private UsuarioLogado _usuarioLogado = new UsuarioLogado();

    [Inject] private ILoginServico LoginServico { get; set; }
    [Inject] private ILocalStorageService LocalStorageService { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] private ApplicationState ApplicationState { get; set; }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        _usuarioLogado = ApplicationState.UsuarioLogado;
        StateHasChanged();

        return Task.CompletedTask;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        LoginServico.Logout();
        await LocalStorageService.RemoveItemAsync(Servicos.LoginServico.ChaveLocalStorage);
        NavigationManager.NavigateTo("login", true);
    }
}
