@page "/"
@namespace SistemaGestaoClinicaMedica.Apresentacao.Site.Pages

@using Newtonsoft.Json;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Modelo;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163099656-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-163099656-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Gestão de Clínica Médica</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="~/fullcalendar/core/main.min.css" rel="stylesheet" />
    <link href="~/fullcalendar/daygrid/main.min.css" rel="stylesheet" />
    <link href="~/fullcalendar/list/main.min.css" rel="stylesheet" />
    <link href="~/fullcalendar/timegrid/main.min.css" rel="stylesheet" />
    <link href="~/css/select2/select2.min.css" rel="stylesheet" />
    <link href="~/css/chartjs/Chart.min.css" rel="stylesheet" />

    <link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" />
</head>
<body>
    @{
        var initApplicationState = new InitApplicationState();

        if (HttpContext.User.Identity.IsAuthenticated)
        {
            HttpContext.Request.Cookies.TryGetValue("token", out string token);
            var claim = HttpContext.User.Claims.FirstOrDefault(_ => _.Type == "Data");
            var usuarioLogado = JsonConvert.DeserializeObject<UsuarioLogado>(claim.Value);

            initApplicationState = new InitApplicationState
            {
                Token = token,
                UsuarioLogado = usuarioLogado,
                EstaAutenticado = HttpContext.User.Identity.IsAuthenticated
            };
        }
    }

    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" param-InitApplicationState="initApplicationState" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Ocorreu um erro. Este aplicativo pode não responder mais até ser recarregado.
        </environment>
        <environment include="Development">
            Ocorreu uma exceção não tratada. Veja as ferramentas de desenvolvimento do navegador para obter detalhes.
        </environment>
        <a href="" class="reload">Recarregar</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="~/js/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/fullcalendar/core/locales-all.min.js"></script>
    <script src="~/fullcalendar/core/main.min.js"></script>
    <script src="~/fullcalendar/daygrid/main.min.js"></script>
    <script src="~/fullcalendar/interaction/main.min.js"></script>
    <script src="~/fullcalendar/list/main.min.js"></script>
    <script src="~/fullcalendar/timegrid/main.min.js"></script>
    <script src="~/js/select2/select2.min.js"></script>
    <script src="~/js/chartjs/Chart.min.js"></script>
    <script src="~/js/jquery/jquery.inputmask.min.js"></script>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BlazorInputFile/inputfile.js"></script>

    <script src="~/js/jsInterop/fullCalendarJsInterop.js"></script>
    <script src="~/js/jsInterop/calendarioDeConsultasJsInterop.js"></script>
    <script src="~/js/jsInterop/jsRuntimeExtensionJsInterop.js"></script>
    <script src="~/js/jsInterop/select2JsInterop.js"></script>
    <script src="~/js/jsInterop/chartJsInterop.js"></script>
    <script src="~/js/jsInterop/inputMaskJsInterop.js"></script>
</body>
</html>
