@page "/consultas/{consultaId:guid}/atestados/novo"
@page "/consultas/{consultaId:guid}/atestados/{id:guid}"
@attribute [Authorize(Roles = "Administrador, Medico")]

@using SistemaGestaoClinicaMedica.Aplicacao.DTO;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;
@inherits FormBase<IAtestadosServico, AtestadoDTO, Guid>

<HeaderComponent Title="Cadastro de Atestado" BackRoute="@AposSalvarRetonarPara" />

<FormComponent Item="_dto" OnValidSubmit="Salvar"  SubmitButtonText="Salvar e Imprimir Atestado">
    <div class="form-group col-md-12">
        <label for="tipo-atestado">Tipo de Atestado</label>
        <InputSelect @bind-Value="context.TipoDeAtestado.Id" class="form-control" id="tipo-atestado">
            @foreach (var tipo in _tiposDeAtestados)
            {
                <option value="@tipo.Id">@tipo.Nome</option>
            }
        </InputSelect>
    </div>
    <div class="form-group col-md-12">
        <label for="atestado-observacao">Observação</label>
        <InputTextArea @bind-Value="@_dto.Observacao" class="form-control" id="atestado-observacao" />
    </div>
</FormComponent>

@code {
    protected override string AposSalvarRetonarPara => $"consultas/{ConsultaId}#atestados";
}