@page "/calendario-de-consultas"

<h1 class="text-center">Calendário de Contatos</h1>

<div class="d-flex justify-content-center" id="calendar-loading">
    <div class="spinner-border" role="status"></div>
</div>

<div id='calendar'></div>
