@page "/consultas/novo"
@page "/consultas/{id:guid}"

@using SistemaGestaoClinicaMedica.Aplicacao.DTO;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;
@inherits FormBase<IConsultaServico, ConsultaDTO, Guid>

<HeaderComponent Title="Cadastro de Consulta" BackRoute="calendario-de-consultas" />

<div class="card">
    <div class="row card-body">
        <div class="col-md-12">
            <EditForm Model="_dto" OnValidSubmit="Salvar">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="paciente">Paciente</label>
                        <input type="text" value="@PacienteNome" class="form-control" id="paciente" disabled />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="especialidade">Especialidade</label>
                        <input type="text" value="@EspecialidadeNome" class="form-control" id="especialidade" disabled />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="medico">Médico</label>
                        <input type="text" value="@MedicoNome" class="form-control" id="medico" disabled />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="data">Data/Hora</label>
                        <input type="text" value="@DataHora" class="form-control" id="data" disabled />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="observacoes">Observações</label>
                        <InputTextArea @bind-Value="_dto.Observacao" class="form-control" id="observacoes" />
                    </div>

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    protected override string AposSalvarRetonarPara => "calendario-de-consultas";
}