@page "/fetchdata"

@using SistemaGestaoClinicaMedica.Aplicacao.DTOS.Cargo
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos
@inject ICargoServico CargoServico

<h1>Cargos</h1>

@if (cargos == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <TableComponent Items="cargos">
        <TableHeader>
            <th>Identificador</th>
            <th>Nome</th>
        </TableHeader>
        <RowTemplate>
            <td>@context.Id</td>
            <td>@context.Nome</td>
        </RowTemplate>
    </TableComponent>
}

@code {
    private List<CargoSaidaDTO> cargos;

    protected override async Task OnInitializedAsync()
    {
        cargos = await CargoServico.GetAsync();
    }
}
