@page "/funcionarios"

<HeaderComponent Title="Funcionários" NewRoute="funcionarios/novo" />

<TableComponent Items="funcionarios">
    <TableHeader>
        <th>Nome</th>
        <th>Cargo</th>
        <th>Telefone</th>
        <th>Ações</th>
    </TableHeader>
    <RowTemplate>
        <td>@context.Nome</td>
        <td>@context.CargoId</td>
        <td>@context.Telefone</td>
        <td>@context.Id</td>
    </RowTemplate>
</TableComponent>