@page "/"
@attribute [Authorize(Roles = "Administrador")]

@using Newtonsoft.Json;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.ViewModel;

<h1>Pagina de Testes</h1>

<hr />
<h3>@_userName</h3>
<hr />

<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customControlValidation1">
    <label class="custom-control-label" for="customControlValidation1">Default</label>
</div>

<div class="form-group">
    <label>Multiple</label>
    <select class="form-control select2 select2-hidden-accessible select-with-search" multiple="" data-placeholder="Select a State" style="width: 100%;" tabindex="-1" aria-hidden="true">
        <option value="38">Alabama</option>
        <option value="39">Alaska</option>
        <option value="40">California</option>
        <option value="41">Delaware</option>
        <option value="42">Tennessee</option>
        <option value="43">Texas</option>
        <option value="44">Washington</option>
        <option value="7">Ronildo</option>
    </select>
</div>


@code{
    [CascadingParameter] private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private string _userName;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        var state = AuthenticationStateTask.Result;

        if (state == null)
            _userName = string.Empty;

        var c = state.User.Claims.FirstOrDefault(_ => _.Type == "Data");
        var p = JsonConvert.DeserializeObject<PerfilViewModel>(c.Value);

        _userName = p.Nome;
    }
}