@page "/"

<h1>Pagina de Testes</h1>


<div class="form-group">
    <label>Multiple</label>
    <select class="form-control select2 select2-hidden-accessible select-with-search" multiple="" data-placeholder="Select a State" style="width: 100%;" tabindex="-1" aria-hidden="true">
        <option value="38">Alabama</option>
        <option value="39">Alaska</option>
        <option value="40">California</option>
        <option value="41">Delaware</option>
        <option value="42">Tennessee</option>
        <option value="43">Texas</option>
        <option value="44">Washington</option>
        <option value="7">Ronildo</option>
    </select>
</div>
