@page "/medicamentos/novo"
@page "/medicamentos/{id:guid}"

@using SistemaGestaoClinicaMedica.Aplicacao.DTO;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;
@inherits FormBase<IMedicamentoServico, MedicamentoDTO, Guid>

<HeaderComponent Title="Cadastro de Medicamento" BackRoute="medicamentos" />

<FormComponent Item="_dto" OnValidSubmit="Salvar">
    <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <InputText @bind-Value="context.Nome" class="form-control" id="nome" />
    </div>
    <div class="form-group col-md-6">
        <label for="nome-fabrica">Nome de Fabrica</label>
        <InputText @bind-Value="context.NomeFabrica" class="form-control" id="nome-fabrica" />
    </div>
    <div class="form-group col-md-8">
        <label for="nome-fabricante">Nome do Fabricante</label>
        <InputText @bind-Value="context.FabricanteNome" class="form-control" id="nome-fabricante" />
    </div>
    <div class="form-group col-md-4">
        <label for="tarja">Tarja</label>
        <InputSelect @bind-Value="context.Tarja" class="form-control" id="tarja">
            <option value="">Selecione o tipo de tarja...</option>
            <option value="Preta">Preta</option>
            <option value="Vermelha">Vermelha</option>
            <option value="Livre">Venda Livre</option>
        </InputSelect>
    </div>
</FormComponent>

@code {
    protected override string AposSalvarRetonarPara => "medicamentos";
}