@page "/medicamentos"

@using SistemaGestaoClinicaMedica.Aplicacao.DTOS.Medicamento
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos
@inject IMedicamentoServico MedicamentoServico

<h1 class="text-center">Medicamentos</h1>

<TableComponent Items="medicamentos">
    <TableHeader>
        <th>Nome</th>
        <th>Tarja</th>
        <th>Fabricante</th>
        <th>Ações</th>
    </TableHeader>
    <RowTemplate>
        <td>@context.Nome</td>
        <td>@context.Tarja</td>
        <td>@context.FabricanteNome</td>
    </RowTemplate>
</TableComponent>

@code {
    private List<MedicamentoSaidaDTO> medicamentos;

    protected override async Task OnInitializedAsync()
    {
        medicamentos = await MedicamentoServico .GetAsync();
    }
}

