@page "/medicamentos"

<h1 class="text-center">Medicamentos</h1>

<TableComponent Items="medicamentos">
    <TableHeader>
        <th>Nome</th>
        <th>Tarja</th>
        <th>Fabricante</th>
        <th>Ações</th>
    </TableHeader>
    <RowTemplate>
        <td>@context.Nome</td>
        <td>@context.Tarja</td>
        <td>@context.FabricanteNome</td>
    </RowTemplate>
</TableComponent>