@page "/medicamentos"

<HeaderComponent Title="Medicamentos" NewRoute="medicamentos/novo" />

<TableComponent Items="medicamentos">
    <TableHeader>
        <th>Nome</th>
        <th>Tarja</th>
        <th>Fabricante</th>
        <th>Ações</th>
    </TableHeader>
    <RowTemplate>
        <td>@context.Nome</td>
        <td>@context.Tarja</td>
        <td>@context.FabricanteNome</td>
        <td>
            <a href="medicamentos/@context.Id"><span class="oi oi-pencil" aria-hidden="true"></span></a>
        </td>
    </RowTemplate>
</TableComponent>
