@page "/medicamentos/novo"
@page "/medicamentos/{id:guid}"

@using SistemaGestaoClinicaMedica.Aplicacao.DTO;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;
@inherits FormBase<IMedicamentosServico, MedicamentoDTO, Guid>

<HeaderComponent Title="Cadastro de Medicamento" BackRoute="@AposSalvarRetonarPara" />

<FormComponent Item="_dto" OnValidSubmit="Salvar">
    <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <InputText @bind-Value="context.Nome" class="form-control" id="nome" />
    </div>
    <div class="form-group col-md-6">
        <label for="nome-fabrica">Nome de Fabrica</label>
        <InputText @bind-Value="context.NomeFabrica" class="form-control" id="nome-fabrica" />
    </div>
    <div class="form-group col-md-8">
        <label for="nome-fabricante">Nome do Fabricante</label>
        <InputText @bind-Value="context.FabricanteNome" class="form-control" id="nome-fabricante" />

        @*<SelectWithSearch Id="nome-fabricante"
                          Placeholder="Selecione o fabricante ou informe um novo"
                          Items="Fabricantes"
                          Context="ctx">
            <option value="@ctx.Id.ToString()" selected="@(_dto.FabricanteNome == ctx.Nome)">@ctx.Nome</option>
        </SelectWithSearch>*@

        @*<input type="text" list="tarjas" @bind-value="context.Tarja" class="form-control" id="tarja" placeholder="Selecione o tipo de tarja">
        <datalist id="tarjas">
            <option value="Preta">Preta</option>
            <option value="Vermelha">Vermelha</option>
            <option value="Livre">Venda Livre</option>
        </datalist>*@

    </div>
    <div class="form-group col-md-4">
        <label for="tarja">Tarja</label>
        <InputSelect @bind-Value="context.Tarja" class="form-control" id="tarja">
            <option value="">Selecione o tipo de tarja...</option>
            <option value="Preta">Preta</option>
            <option value="Vermelha">Vermelha</option>
            <option value="Livre">Venda Livre</option>
        </InputSelect>
    </div>
</FormComponent>

@using SistemaGestaoClinicaMedica.Apresentacao.Site.Modelo;
@code {
    protected override string AposSalvarRetonarPara => "medicamentos";

    [Inject] private IJSRuntime JSRuntime { get; set; }
    [Inject] private IFabricantesServico FabricantesServico { get; set; }

    private List<FabricanteDTO> Fabricantes { get; set; } = new List<FabricanteDTO>();

    protected async override Task OnParametersSetAsync()
    {
        Fabricantes = await FabricantesServico.GetPorNomeAsync("a");
        await base.OnParametersSetAsync();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        var dotNetReference = DotNetObjectReference.Create(this);
        await JSRuntime.InvokeVoidAsync("select2JsInterop.startup", "#nome-fabricante", dotNetReference, nameof(SelecionaFabricante));
    }

    [JSInvokable]
    public void SelecionaFabricante(Select2 select2)
    {
        if (string.IsNullOrEmpty(select2.Text))
            return;

        _dto.FabricanteNome = select2.Text;
    }
}