@page "/medicamentos/novo"
@page "/medicamentos/{id:guid}"
@attribute [Authorize(Roles = "Administrador")]

@using SistemaGestaoClinicaMedica.Aplicacao.DTO;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;
@inherits FormBase<IMedicamentosServico, MedicamentoDTO, Guid>

<HeaderComponent Title="Cadastro de Medicamento" BackRoute="@AposSalvarRetonarPara" />

<FormComponent Item="_dto" OnValidSubmit="Salvar">
    <div class="form-group col-md-12">
        <label for="ativo">Ativo? </label>
        <InputCheckbox @bind-Value="context.Ativo" id="ativo" />
    </div>
    <div class="form-group col-md-6">
        <label for="nome">Nome <span style="color:red;">*</span></label>
        <InputText @bind-Value="context.Nome" class="form-control" id="nome" required />
    </div>
    <div class="form-group col-md-6">
        <label for="nome-fabrica">Nome de Fábrica <span style="color:red;">*</span></label>
        <InputText @bind-Value="context.NomeFabrica" class="form-control" id="nome-fabrica" required />
    </div>
    <div class="form-group col-md-8">
        <label for="nome-fabricante">Nome do Fabricante <span style="color:red;">*</span></label>
        <input type="text" list="fabricantes" @bind-value="context.FabricanteNome" class="form-control" id="nome-fabricante" placeholder="Selecione o fabricante ou informe um novo">
        <datalist id="fabricantes">
            @foreach (var fabricante in Fabricantes)
            {
                <option value="@fabricante.Nome"></option>
            }
        </datalist>
    </div>
    <div class="form-group col-md-4">
        <label for="tarja">Tarja <span style="color:red;">*</span></label>
        <InputSelect @bind-Value="context.Tarja" class="form-control" id="tarja" required>
            <option value="" selected disabled>Selecione a tarja</option>
            <option value="Preta" style="color:white; background-color:black;">Preta</option>
            <option value="Vermelha" style="color:white; background-color:red;">Vermelha</option>
            <option value="Livre">Venda Livre</option>
        </InputSelect>
    </div>
</FormComponent>

@using SistemaGestaoClinicaMedica.Apresentacao.Site.Modelo;
@code {
    protected override string AposSalvarRetonarPara => "medicamentos";

    [Inject] private IJSRuntime JSRuntime { get; set; }
    [Inject] private IFabricantesServico FabricantesServico { get; set; }

    private List<FabricanteDTO> Fabricantes { get; set; } = new List<FabricanteDTO>();

    protected async override Task OnParametersSetAsync()
    {
        Fabricantes = await FabricantesServico.GetPorNomeAsync("a");
        await base.OnParametersSetAsync();
    }

    [JSInvokable]
    public void SelecionaFabricante(Select2 select2)
    {
        if (string.IsNullOrEmpty(select2.Text))
            return;

        _dto.FabricanteNome = select2.Text;
    }
}