@page "/pacientes/novo"
@page "/pacientes/{id:guid}"
@attribute [Authorize(Roles = "Administrador, Recepcionista")]

@using SistemaGestaoClinicaMedica.Aplicacao.DTO;
@using SistemaGestaoClinicaMedica.Dominio.Extensions;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;
@inherits FormBase<IPacientesServico, PacienteDTO, Guid>

<HeaderComponent Title="Cadastro de Paciente" BackRoute="@AposSalvarRetonarPara" />

<FormComponent Item="_dto" OnValidSubmit="Salvar">
    <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <InputText @bind-Value="context.Nome" class="form-control" id="nome" />
    </div>
    <div class="form-group col-md-3">
        <label for="sexo">Sexo</label>
        <InputSelect @bind-Value="context.Sexo" class="form-control" id="sexo">
            <option value="Feminino">Feminino</option>
            <option value="Masculino">Masculino</option>
        </InputSelect>
    </div>
    <div class="form-group col-md-3">
        <label for="data-nascimento">Data de Nascimento</label>
        <InputDate @bind-Value="context.DataNascimento" class="form-control" id="data-nascimento" />
    </div>
    <div class="form-group col-md-3">
        <label for="cpf">CPF</label>
        <InputText @bind-Value="context.CPF" class="form-control" id="cpf" minlength="11" maxlength="14"/>
    </div>
    <div class="form-group col-md-3">
        <label for="telefone">Telefone</label>
        <InputText @bind-Value="context.Telefone" class="form-control" id="telefone" />
    </div>
    <div class="form-group col-md-6">
        <label for="nome-mae">Nome da Mãe</label>
        <InputText @bind-Value="context.NomeDaMae" class="form-control" id="nome-mae" />
    </div>
    <div class="form-group col-md-4">
        <label for="bairro">Bairro</label>
        <InputText @bind-Value="context.Bairro" class="form-control" id="bairro" />
    </div>
    <div class="form-group col-md-5">
        <label for="cidade">Cidade</label>
        <InputText @bind-Value="context.Cidade" class="form-control" id="cidade" />
    </div>
    <div class="form-group col-md-3">
        <label for="estado">Estado</label>
        <InputSelect @bind-Value="context.Estado" class="form-control" id="estado">
            <option value="" selected disabled>Selecione o estado...</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
        </InputSelect>
    </div>
</FormComponent>

@code {
    protected override string AposSalvarRetonarPara => "pacientes";

    protected override async Task<bool> Salvar(EditContext editContext)
    {
        if (_dto.CPF.ValidaCPF())
        {
            var paciente = await HttpServico.GetPorCodigoOuCPFAsync(_dto.CPF.RemoceFormatacaoCPF());

            if (paciente != null && _dto.Id == Guid.Empty)
            {
                ToastService.ShowInfo("Já existe um paciente com este CPF!");
                return false;
            }
        }
        else
        {
            ToastService.ShowInfo("O CPF informado é inválido!");
            return false;
        }

        return await base.Salvar(editContext);
    }
}