@page "/pacientes"

<h1 class="text-center">Pacientes</h1>

<TableComponent Items="pacientes">
    <TableHeader>
        <th>Código</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Ações</th>
    </TableHeader>
    <RowTemplate>
        <td>@context.Codigo</td>
        <td>@context.Nome</td>
        <td>@context.Telefone</td>
    </RowTemplate>
</TableComponent>