@page "/pacientes/novo"
@page "/pacientes/{id:guid}"

@using SistemaGestaoClinicaMedica.Aplicacao.DTO;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;
@inherits FormBase<IPacienteServico, PacienteDTO, Guid>

<HeaderComponent Title="Cadastro de Paciente" BackRoute="pacientes" />

<FormComponent Item="_dto" OnValidSubmit="Salvar">
    <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <InputText @bind-Value="context.Nome" class="form-control" id="nome" />
    </div>
    <div class="form-group col-md-3">
        <label for="data-nascimento">Data de Nascimento</label>
        <InputDate @bind-Value="context.DataNascimento" class="form-control" id="data-nascimento" />
    </div>
    <div class="form-group col-md-3">
        <label for="telefone">Telefone</label>
        <InputText @bind-Value="context.Telefone" class="form-control" id="telefone" />
    </div>
    <div class="form-group col-md-4">
        <label for="bairro">Bairro</label>
        <InputText @bind-Value="context.Bairro" class="form-control" id="bairro" />
    </div>
    <div class="form-group col-md-5">
        <label for="cidade">Cidade</label>
        <InputText @bind-Value="context.Cidade" class="form-control" id="cidade" />
    </div>
    <div class="form-group col-md-3">
        <label for="estado">Estado</label>
        <InputSelect @bind-Value="context.Estado" class="form-control" id="estado">
            <option value="">Selecione o estado...</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
        </InputSelect>
    </div>
</FormComponent>

@code {
    protected override string AposSalvarRetonarPara => "pacientes";
}